# We don't care about those
node_modules
build/*

# Those are personal
public/dist/user.css
public/dist/custom.js

# Pictures we do not commit
public/uploads/**

# Storage stuff: useless
/storage/*.key
/storage/clockwork/

# Those are generated
/vendor

# IDE & Cache stuff
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit*
_ide*
.php_cs.cache
.php-cs-fixer.cache
*.log
clover.xml
*.swp
installed.log
.DS_Store
.NO_SECURE_KEY
.NO_AUTO_COMPOSER_MIGRATE
storage/bootstrap/cache/*
storage/image-jobs/*

# used by Vite
public/hot

sync/*

# Local DB for easy deployment
backup.sql
*-bck

# Make sure we don't commit secrets
.env
.env.*

aliases

# Building stuff for releaseses
Lychee/*
