* text=auto eol=lf
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
public/dist/**/* binary
public/dist/*.js binary
public/dist/*.css binary
CHANGELOG.md export-ignore
tests/ export-ignore
docs/ export-ignore
