/node_modules

public/Lychee-front/node_modules/
public/Lychee-front/package-lock.json

/public/hot
/public/storage
/storage/*.key
/storage/clockwork/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.bck

public/dist/user.css
aliases

Lychee-v*
.phpunit*
_ide*

.php_cs.cache

clover.xml
*.swp
.DS_Store
