# We don't care about those
node_modules
build/*

# Those are personal
public/dist/user.css
public/dist/custom.js
public/build/*

# Pictures we do not commit
public/uploads/**
public/uploads-*/**

# Storage stuff: useless
/storage/*.key
/storage/clockwork/

# Those are generated
/vendor

# IDE & Cache stuff
/.idea
/.vscode
npm-debug.log
.phpunit*
_ide*
.php_cs.cache
.php-cs-fixer.cache
*.log
clover.xml
*.swp
.DS_Store
.NO_AUTO_COMPOSER_MIGRATE
storage/bootstrap/cache/*
storage/image-jobs/*

# used by Vite
public/hot
lang/php_*.json

sync/*

# Local DB for easy deployment
backup.sql
*-bck

# Make sure we don't commit secrets
.env
.env.*

aliases
pgdata
docker-compose.yml

# Building stuff for releaseses
Lychee/*
report_*