os:
  - linux

dist: xenial

language: php

php:
  - '7.2'
  - '7.3'
#  - nightly
env:
  - TRAVIS_COMPOSER_DEV=yes
  - TRAVIS_COMPOSER_DEV=no

services:
  - postgresql

addons:
  mariadb: '10.3'
  apt:
    packages:
      - php-pecl-http
      - php-imagick
      - php-mbstring
      - php-json
      - php-gd

before_script:
  - printf "\n" | pecl install imagick
  # create db for postgresql
  - psql -c 'create database homestead_test;' -U postgres
  # create db for mariadb
  - mysql -e 'create database homestead_test;'
  # composer stuff
  - composer self-update
  - sh -c "if [ '$TRAVIS_COMPOSER_DEV' = 'yes' ] ; then composer install --no-interaction ; fi"
  - sh -c "if [ '$TRAVIS_COMPOSER_DEV' = 'no' ] ; then composer install --no-interaction --no-dev ; fi"

script:
  # test mariadb
  - cp .env.mariadb.travis .env
  - php artisan key:generate
  - php artisan migrate
  - sh -c "if [ '$TRAVIS_COMPOSER_DEV' = 'yes' ] ; then vendor/bin/phpunit --verbose; fi"
  - php artisan migrate:rollback
  # test postgresql
  - cp .env.postgresql.travis .env
  - php artisan key:generate
  - php artisan migrate
  - sh -c "if [ '$TRAVIS_COMPOSER_DEV' = 'yes' ] ; then vendor/bin/phpunit --verbose ; fi"
  - php artisan migrate:rollback

after_success:
  - sh -c "if [ '$TRAVIS_COMPOSER_DEV' = 'yes'] ; then codecov.sh ; fi"

