os:
  - linux

dist: xenial

language: php

php:
  - '7.2'
  - '7.3'
#  - nightly
env:
  - TRAVIS_COMPOSER_DEV=yes
  - TRAVIS_COMPOSER_DEV=no

addons:
  mariadb: '10.3'
  apt:
    packages:
      - php-pecl-http
      - php-imagick
      - php-mbstring
      - php-json
      - php-gd

before_script:
  - printf "\n" | pecl install imagick
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - ./travis.composer.sh

script:
  - php artisan key:generate
  - php artisan migrate
  - ./travis.tests.sh
