parameters:
	ignoreErrors:
		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<MovePhotos_Photo\>\:\:truncate\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: database/migrations/2018_08_15_103716_move_photos.php

		-
			message: '#^PHPDoc tag @var with type string is not subtype of native type non\-falsy\-string\.$#'
			identifier: varTag.nativeType
			count: 1
			path: database/migrations/2018_08_15_103716_move_photos.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Support\\Collection\<int, object\{id\: string, license\: string\}\> is not subtype of type Illuminate\\Support\\Collection\<int, stdClass\>\.$#'
			identifier: varTag.type
			count: 2
			path: database/migrations/2020_07_11_184605_update_licences.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, filesize\: int\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_05_02_174300_add_filesize_raw_col.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, size\: string\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_05_02_174300_add_filesize_raw_col.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 2
			path: database/migrations/2021_05_13_140700_refactor_size_variants.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, created_at\: string\|null, taken_at\: string\|null, taken_at_orig_tz\: string\|null, updated_at\: string\|null\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_05_25_160600_post_revert_fixes.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, created_at_tmp\: string\|null, updated_at_tmp\: string\|null\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 2
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, taken_at\: string\|null, taken_at_orig_tz\: string\|null\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^PHPDoc tag @var with type array\<int, object\{id\: int, takestamp\: string\|null\}\> is not subtype of type Illuminate\\Support\\LazyCollection\<int, object\>\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: database/migrations/2021_12_04_181200_refactor_models.php

		-
			message: '#^PHPDoc tag @var with type object is not subtype of type stdClass\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2021_12_04_181200_refactor_models.php

		-
			message: '#^PHPDoc tag @var with type App\\Models\\User is not subtype of type stdClass\.$#'
			identifier: varTag.type
			count: 1
			path: database/migrations/2022_12_10_183251_increment_user_i_ds.php
