parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: database/migrations/2018_08_10_134924_move_settings.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: database/migrations/2018_08_15_102039_move_albums.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: database/migrations/2018_08_15_103716_move_photos.php

		-
			message: '#^Function define is unsafe to use\. It can return FALSE instead of throwing an exception\. Please add ''use function Safe\\define;'' at the beginning of the file to use the variant provided by the ''thecodingmachine/safe'' library\.$#'
			identifier: theCodingMachineSafe.function
			count: 1
			path: database/migrations/2020_07_11_184605_update_licences.php

		-
			message: '#^Variable property access on object\{id\: int, created_at\: string\|null, taken_at\: string\|null, taken_at_orig_tz\: string\|null, updated_at\: string\|null\}\.$#'
			identifier: property.dynamicName
			count: 4
			path: database/migrations/2021_05_25_160600_post_revert_fixes.php

		-
			message: '#^Variable property access on object\.$#'
			identifier: property.dynamicName
			count: 1
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^Variable property access on object\{id\: int, created_at_tmp\: string\|null, updated_at_tmp\: string\|null\}\.$#'
			identifier: property.dynamicName
			count: 4
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^Variable property access on object\{id\: int, taken_at\: string\|null, taken_at_orig_tz\: string\|null\}\.$#'
			identifier: property.dynamicName
			count: 2
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^Variable property access on object\{id\: int, takestamp\: string\|null\}\.$#'
			identifier: property.dynamicName
			count: 1
			path: database/migrations/2021_06_01_181900_refactor_timestamps_anew.php

		-
			message: '#^Cast to bool is forbidden\.$#'
			count: 1
			path: database/migrations/2021_12_04_181200_refactor_models.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 30
			path: database/migrations/2021_12_04_181200_refactor_models.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 8
			path: database/migrations/2021_12_04_181200_refactor_models.php

		-
			message: '#^Function define is unsafe to use\. It can return FALSE instead of throwing an exception\. Please add ''use function Safe\\define;'' at the beginning of the file to use the variant provided by the ''thecodingmachine/safe'' library\.$#'
			identifier: theCodingMachineSafe.function
			count: 1
			path: database/migrations/2022_08_27_110209_drop_admin_user_config.php
