includes:
	- vendor/nunomaduro/larastan/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

services:
	-
		class: PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
		tags:
			- phpstan.rules.rule

parameters:
	level: 7
	reportMaybesInPropertyPhpDocTypes: false
	checkMissingIterableValueType: false
	paths:
		- app
	excludePaths:
		- app/Relations/*
		- app/View/*
	ignoreErrors:
		- '#Short ternary operator is not allowed#' # we like short ternary

		- '#Construct empty\(\) is not allowed#' # we like empty()

		# bunch of false positives from Eloquent
		- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\.*::insert\(\).#'
		- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\.*::select\(\).#'
		- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\.*::whereIn\(\).#'
		- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\.*::whereNull\(\).#'
		- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\.*::orderBy\(\)#'
		- '#Call to an undefined method Illuminate\\Database\\Eloquent\\.*::withOnly\(\)#'

		- '#Return type \(Illuminate\\Support\\Carbon\|null\) of method App\\Models\\.*::asDateTime\(\) should be covariant with return type \(Illuminate\\Support\\Carbon\) of method Illuminate\\Database\\Eloquent\\Model::asDateTime\(\)#'
		- '#Return type \(App\\Models\\Photo\) of method App\\Models\\Photo::replicate\(\) should be covariant with return type \(static\(.*\)\) of method Illuminate\\Database\\Eloquent\\Model::replicate\(\)#'

		- '#Method App\\Models\\Extensions\\.*::.* should return \$this\(.*\) but returns static\(.*\)#'
		- '#Method App\\Models\\Extensions\\.*::.* should return \$this\(.*\) but returns Illuminate\\Database\\Eloquent\\Builder<.*>\.#'
		-
			message: '#Variable method call on \$this#' # We do want this
			paths:
				- app/SmartAlbums/Utils/MimicModel.php
				- app/Models/Extensions/HasBidirectionalRelationships.php
		-
			message: '#Variable property access on \$this#' # We do want this
			paths:
				- app/SmartAlbums/Utils/MimicModel.php

		- '#Call to an undefined static method Kalnoy\\Nestedset\\QueryBuilder::(whereIn|select|join|leftJoin|orderBy|addSelect)\(\)#'
		- '#Call to an undefined method Geocoder\\Location::getDisplayName\(\)#'
		- '#Call to an undefined method COM::getfolder\(\).#'
		- '#Call to an undefined method League\\Flysystem\\FilesystemInterface::getAdapter\(\)#'

		# https://github.com/thecodingmachine/safe/issues/283
		- '#Parameter \#(1|2) \$.* of function Safe\\image.* expects (resource|GdImage), (GdImage|resource)?(\|resource)? given.#'
