<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">
        ./app
      </directory>
    </include>
    <report>
      <clover outputFile="clover.xml" />
      <text outputFile="php://stdout" showUncoveredFiles="false" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Feature">
        <directory suffix="Test.php">./tests/Feature</directory>
        <directory suffix="Test.php">./tests/Feature</directory>
        <exclude>./tests/Feature/Base/BasePhotoTest.php</exclude>
        <exclude>./tests/Feature/Base/BasePhotosRotateTest.php</exclude>
        <exclude>./tests/Feature/Base/BaseSharingTest.php</exclude>
        <exclude>./tests/Feature/Lib/AlbumsUnitTest.php</exclude>
        <exclude>./tests/Feature/Lib/PhotosUnitTest.php</exclude>
        <exclude>./tests/Feature/Lib/RootAlbumUnitTest.php</exclude>
        <exclude>./tests/Feature/Lib/SessionUnitTest.php</exclude>
        <exclude>./tests/Feature/Lib/SharingUnitTest.php</exclude>
        <exclude>./tests/Feature/Lib/UsersUnitTest.php</exclude>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="Tests\BootExtension" />
  </extensions>
  <logging />
  <php>
    <env name="APP_ENV" value="testing" />
    <env name="DB_LOG_SQL" value="true" />
    <env name="BCRYPT_ROUNDS" value="4" />
    <env name="CACHE_DRIVER" value="array" />
    <env name="SESSION_DRIVER" value="array" />
    <env name="QUEUE_CONNECTION" value="sync" />
    <env name="MAIL_DRIVER" value="array" />
  </php>
</phpunit>
