@import "./fonts.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "primeicons/primeicons.css";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
	@import "tailwindcss/base";
}

@layer tailwind-utilities {
	@import "tailwindcss/components";
	@import "tailwindcss/utilities";
}

// @layer base {
:root {
	// --text-main-0: #ffffff;
	// --text-main-100: #e5e5e5;
	// --text-main-200: #d4d4d4;
	// --text-main-300: #c0c0c0;
	// --text-main-400: #a3a3a3;
	// --text-main-800: #262626;
	// --text-hover: #ffffff;

	// --bg-50: #e0e0e0;
	// --bg-100: #c0c0c0;
	// --bg-200: #a0a0a0;
	// --bg-300: #404040;
	// --bg-400: #383838;
	// --bg-500: #313131;
	// --bg-600: #292929;
	// --bg-700: #212121;
	// --bg-800: #1a1a1a;
	// --bg-900: #121212;
	// --bg-950: #0e0e0e;

	--danger: #dc2626;
	--danger-dark: #b91c1c;
	--danger-darker: #991b1b;

	--success: #22c55e;

	--create: #16a34a;
	--create-dark: #15803d;

	--ready: #fbbf24;

	--warning: #fb923c;
	--warning-dark: #ea580c;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Remove all ugly outlines */
* {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.filter-shadow {
	filter: drop-shadow(0 0 0.5rem black);
}

.filter-shadow-darker {
	filter: drop-shadow(0 0 1rem black) drop-shadow(0 0 2rem black) drop-shadow(0 0 4rem black);
}

.menu-shadow {
	box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.7);
}

.box-shadow {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
}

.text-shadow {
	text-shadow: 1px 1px 2px #000;
}

.text-shadow-sm {
	text-shadow: 0 1px 3px #00000066;
}

.max-wh-full-56 {
	max-width: calc(100% - 56px);
	max-height: calc(100% - 56px);
}

input:checked + .slider:before {
	transform: translateX(20px);
	background-color: #fff;
}

input:checked + .slider {
	background-color: rgb(14 165 233);
}

input:checked ~ .checkbox svg {
	opacity: 1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.markdown a {
	text-underline-offset: 0.2rem;
	text-decoration: underline dashed;
}

/* Trick to change the calendar picker color in chrome */
::-webkit-calendar-picker-indicator {
	filter: invert(54%) sepia(85%) saturate(2054%) hue-rotate(166deg) brightness(93%) contrast(97%);
}

.drop-shadow-black {
	--tw-drop-shadow: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

.blurred span {
	overflow: hidden;
}

.blurred img {
	/* Safari 6.0 - 9.0 */
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.aspect-2x3 {
	aspect-ratio: 2/3;
}

.aspect-3x2 {
	aspect-ratio: 3/2;
}

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input.p-filled) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(textarea.p-filled) label,
.p-floatlabel:has(.p-inputwrapper-focus) label,
.p-floatlabel:has(.p-inputwrapper-filled) label {
	top: 0;
}
// }
