Lychee-front/node_modules/
Lychee-front/bower_components/
Lychee-front/package-lock.json

uploads/big/*
uploads/import/*
uploads/medium/*
uploads/raw/*
uploads/small/*
uploads/thumb/*

!uploads/big/index.html
!uploads/import/index.html
!uploads/medium/index.html
!uploads/raw/index.html
!uploads/small/index.html
!uploads/thumb/index.html

plugins/*

