#footer {
	z-index: 3;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px 0 5px 0;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s, margin-left 0.5s;
	position: absolute;
	background: #1d1d1d;

	p.hosted_by,
	p.home_copyright {
		text-transform: uppercase;
	}

	p {
		color: #cccccc;
		font-size: 0.75em;
		line-height: 26px;

		a {
			color: #ccc;
		}
		a:visited {
			color: #ccc;
		}
	}
}

.hide_footer {
	display: none;
}
