.header {
	position: fixed;
	height: 49px;
	width: 100%;
	background: linear-gradient(to bottom, #222222, #1a1a1a);
	border-bottom: 1px solid #0f0f0f;
	z-index: 1;
	transition: transform 0.3s ease-out;

	// Modes -------------------------------------------------------------- //
	&--hidden {
		transform: translateY(-60px);
	}

	&--loading {
		transform: translateY(2px);
	}

	&--error {
		transform: translateY(40px);
	}

	&--view {
		border-bottom: none;

		&.header--error {
			background-color: rgba(10, 10, 10, 0.99);
		}
	}

	// Toolbars -------------------------------------------------------------- //
	&__toolbar {
		display: none;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: 100%;

		&--visible {
			display: flex;
		}

		&--config {
			.button .iconic {
				transform: rotate(45deg);
			}

			.header__title {
				padding-right: 80px;
			}
		}
	}

	// Title -------------------------------------------------------------- //
	&__title {
		width: 100%;
		padding: 16px 0;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		cursor: default;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		transition: margin-left 0.5s;

		.iconic {
			display: none;
			margin: 0 0 0 5px;
			width: 10px;
			height: 10px;
			fill: white(0.5);
			transition: fill 0.2s ease-out;
		}

		&:active .iconic {
			transition: none;
			fill: white(0.8);
		}

		&--editable .iconic {
			display: inline-block;
		}
	}

	// Buttons -------------------------------------------------------------- //
	.button {
		flex-shrink: 0;
		padding: 16px 8px;
		height: 15px;

		.iconic {
			width: 15px;
			height: 15px;
			fill: white(0.5);
			transition: fill 0.2s ease-out;
		}

		&:active .iconic {
			transition: none;
			fill: white(0.8);
		}

		&--star.active .iconic {
			fill: #f0ef77;
		}

		&--eye.active .iconic {
			fill: $colorRed;
		}

		&--eye.active--not-hidden .iconic {
			fill: $colorGreen;
		}

		&--eye.active--hidden .iconic {
			fill: $colorOrange;
		}

		&--share .iconic.ionicons {
			margin: -2px 0 -2px;
			width: 18px;
			height: 18px;
		}

		&--nsfw.active .iconic {
			fill: $colorPink;
		}

		&--info.active .iconic {
			fill: $colorBlue;
		}
	}

	#button_back,
	#button_back_home,
	#button_settings,
	#button_close_config,
	#button_signin {
		// back button too small on small touch devices
		// remove left padding of menu bar and add here plus more padding on
		// the right as well
		padding: 16px 12px 16px 18px;
	}

	.button_add {
		padding: 16px 18px 16px 12px;
	}

	// Divider -------------------------------------------------------------- //
	&__divider {
		flex-shrink: 0;
		width: 14px;
	}

	// Search -------------------------------------------------------------- //
	&__search {
		flex-shrink: 0;
		width: 80px;
		margin: 0;
		padding: 5px 12px 6px 12px;
		background-color: #1d1d1d;
		color: #fff;
		border: 1px solid black(0.9);
		box-shadow: 0 1px 0 white(0.04);
		outline: none;
		border-radius: 50px;
		opacity: 0.6;
		transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out, width 0.2s ease-out;

		&:focus {
			width: 140px;
			border-color: $colorBlue;
			box-shadow: 0 1px 0 white(0);
			opacity: 1;
		}

		&:focus ~ .header__clear {
			opacity: 1;
		}

		&::-ms-clear {
			display: none;
		}

		&__field {
			position: relative;
		}
	}

	&__clear {
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 8px;
		padding: 0;
		color: white(0.5);
		font-size: 24px;
		opacity: 0;
		transition: color 0.2s ease-out;
		cursor: default;
	}

	&__clear_nomap {
		right: 60px;
	}

	// Hosted with -------------------------------------------------------------- //
	&__hostedwith {
		flex-shrink: 0;
		padding: 5px 10px;
		margin: 11px 0;
		color: #888;
		font-size: 13px;
		border-radius: 100px;
		cursor: default;
	}

	.leftMenu__open {
		margin-left: 250px;
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.header {
		&__title,
		.button {
			&:hover .iconic {
				fill: white(1);
			}
		}

		&__clear:hover {
			color: white(1);
		}

		&__hostedwith:hover {
			background-color: black(0.3);
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 640px) {
	// reduce entries in menu bar on small screens
	// corresponding entries are added to the 'more' menu
	#button_move,
	#button_move_album,
	#button_trash,
	#button_trash_album,
	#button_visibility,
	#button_visibility_album,
	#button_nsfw_album {
		display: none !important;
	}

	@media (max-width: 567px) {
		// remove further buttons on tiny screens
		#button_rotate_ccwise,
		#button_rotate_cwise {
			display: none !important;
		}

		.header__divider {
			width: 0;
		}
	}
}
