#imageview {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.98);
	transition: background-color 0.3s;

	// Modes -------------------------------------------------------------- //
	&.view {
		background-color: inherit;
	}

	&.full {
		background-color: black(1);
		cursor: none;
	}

	// ImageView -------------------------------------------------------------- //
	#image,
	#livephoto {
		position: absolute;
		top: 60px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		margin: auto;
		max-width: calc(100% - 60px);
		max-height: calc(100% - 90px);
		width: auto;
		height: auto;
		transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s, max-width 0.3s, max-height 0.3s;

		animation-name: zoomIn;
		animation-duration: 0.3s;
		animation-timing-function: $timingBounce;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.full #image,
	&.full #livephoto {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 100%;
		max-height: 100%;
	}

	&.image--sidebar #image,
	&.image--sidebar #livephoto {
		right: 380px;
		max-width: calc(100% - 410px);
	}

	#image_overlay {
		position: absolute;
		bottom: 30px;
		left: 30px;
		color: #ffffff;
		text-shadow: 1px 1px 2px #000000;
		z-index: 3;

		h1 {
			font-size: 28px;
			font-weight: 500;
			transition: visibility 0.3s linear, opacity 0.3s linear;
		}

		p {
			margin-top: 5px;
			font-size: 20px;
			line-height: 24px;
		}

		a .iconic {
			fill: #fff;
			margin: 0 5px 0 0;
			width: 14px;
			height: 14px;
		}
	}

	// Previous/Next Buttons -------------------------------------------------------------- //
	.arrow_wrapper {
		position: fixed;
		width: 15%;
		height: calc(100% - 60px);
		top: 60px;

		&--previous {
			left: 0;
		}

		&--next {
			right: 0;
		}

		a {
			position: fixed;
			top: 50%;
			margin: -19px 0 0;
			padding: 8px 12px;
			width: 16px;
			height: 22px;
			// The background-image will be styled dynamically via JS
			// background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('');
			background-size: 100% 100%;
			border: 1px solid white(0.8);
			opacity: 0.6;
			z-index: 2;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out;
			will-change: transform;

			&#previous {
				left: -1px;
				transform: translateX(-100%);
			}

			&#next {
				right: -1px;
				transform: translateX(100%);
			}
		}

		.iconic {
			fill: white(0.8);
		}
	}

	&.image--sidebar .arrow_wrapper {
		&--next {
			right: 350px;
		}

		a {
			&#next {
				right: 349px;
			}
		}
	}

	// We must not allow the wide next/prev arrow wrappers to cover the
	// on-screen buttons in videos.  This is imperfect as now the video
	// covers part of the background image.
	video {
		z-index: 1;
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	#imageview .arrow_wrapper {
		&:hover a#previous,
		&:hover a#next {
			transform: translateX(0);
		}

		a:hover {
			opacity: 1;
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	// sidebar as overlay, small size
	#imageview {
		#image,
		#livephoto {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			max-height: 100%;
		}

		&.image--sidebar {
			#image,
			#livephoto {
				right: 0;
				max-width: 100%;
			}

			.arrow_wrapper {
				&--next {
					right: 0;
				}

				a#next {
					right: -1px;
				}
			}
		}

		#image_overlay {
			h1 {
				font-size: 14px;
			}

			p {
				margin-top: 2px;
				font-size: 11px;
				line-height: 13px;
			}

			a .iconic {
				width: 9px;
				height: 9px;
			}
		}
	}
}

@media only screen and (min-width: 568px) and (max-width: 768px),
	only screen and (min-width: 568px) and (max-width: 640px) and (orientation: landscape) {
	// sidebar on side, medium size
	#imageview {
		#image,
		#livephoto {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			max-height: 100%;
		}

		&.image--sidebar {
			#image,
			#livephoto {
				top: 50px;
				right: 280px;
				max-width: calc(100% - 280px);
				max-height: calc(100% - 50px);
			}

			.arrow_wrapper {
				&--next {
					right: 280px;
				}

				a#next {
					right: 279px;
				}
			}
		}

		#image_overlay {
			h1 {
				font-size: 18px;
			}

			p {
				margin-top: 4px;
				font-size: 14px;
				line-height: 16px;
			}

			a .iconic {
				width: 12px;
				height: 12px;
			}
		}
	}
}
