.justified-layout {
	margin: 30px 0 0 30px;
	width: 100%;
	position: relative;
}

.unjustified-layout {
	margin: 25px -5px -5px 25px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.justified-layout > .photo {
	position: absolute;
	--lychee-default-height: 320px;
	margin: 0;
}

.unjustified-layout > .photo {
	float: left;
	max-height: 240px;
	margin: 5px;
}

.justified-layout > .photo > .thumbimg > img,
.justified-layout > .photo > .thumbimg,
.unjustified-layout > .photo > .thumbimg > img,
.unjustified-layout > .photo > .thumbimg {
	width: 100%;
	height: 100%;
	border: none;
	object-fit: cover;
}

.justified-layout > .photo > .overlay,
.unjustified-layout > .photo > .overlay {
	width: 100%;
	bottom: 0;
	margin: 0 0 0 0;
}

.justified-layout > .photo > .overlay > h1,
.unjustified-layout > .photo > .overlay > h1 {
	width: auto;
	margin-right: 15px;
}

// responsive web design for smaller screens
@media only screen and (min-width: 320px) and (max-width: 567px) {
	.content > .justified-layout {
		margin: 8px 8px 0 8px;
		.photo {
			--lychee-default-height: 160px;
		}
	}
}

@media only screen and (min-width: 568px) and (max-width: 639px) {
	.content > .justified-layout {
		margin: 9px 9px 0 9px;
		.photo {
			--lychee-default-height: 200px;
		}
	}
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.content > .justified-layout {
		margin: 10px 10px 0 10px;
		.photo {
			--lychee-default-height: 240px;
		}
	}
}
