/* The side navigation menu */
.leftMenu {
	height: 100vh; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 4; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 49px; /* Place content 49px from the top (same as menu bar height) */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.leftMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;

	&.linkMenu {
		white-space: nowrap;
	}
}

/* Position and style the close button (top right corner) */
.leftMenu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.leftMenu .closetxt {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	height: 28px;
	padding-top: 16px;
	color: #111;
	display: inline-block;
	width: 210px;
}

.leftMenu .iconic {
	display: inline-block;
	margin: 0 10px 0 1px;
	width: 15px;
	height: 14px;
	fill: #818181;
}

.leftMenu .iconic.ionicons {
	margin: 0 8px -2px 0;
	width: 18px;
	height: 18px;
}

.leftMenu__visible {
	width: 250px;
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	// disable left menu on small devices and use context menu instead
	.leftMenu {
		display: none !important;
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.leftMenu {
		.closetxt:hover {
			color: #818181;
		}

		/* When you mouse over the navigation links, change their color */
		a:hover {
			color: #f1f1f1;
		}
	}
}

// on touch devices increase space between entries
@media (hover: none) {
	.leftMenu a {
		padding: 14px 8px 14px 32px;
	}
}
