.logs_diagnostics_view {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #ccc;
	font-size: 12px;
	line-height: 14px;

	pre {
		font-family: monospace;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		width: fit-content;
		padding-right: 30px;
	}
}

.clear_logs_update {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 30px;
}

.clear_logs_update,
.logs_diagnostics_view {
	.basicModal__button {
		//margin-top: 10px;
		color: #2293ec;
		display: inline-block;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}

	.iconic {
		display: inline-block;
		margin: 0 10px 0 1px;
		width: 13px;
		height: 12px;
		fill: #2293ec;
	}

	.button_left {
		margin-left: 24px;
		width: 400px;
	}
}

// on touch devices draw buttons in color
@media (hover: none) {
	.clear_logs_update,
	.logs_diagnostics_view {
		.basicModal__button {
			background: #2293ec;
			color: #fff;
			max-width: 320px;
			margin-top: 20px;
		}

		.iconic {
			fill: #fff;
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	.logs_diagnostics_view,
	.clear_logs_update {
		width: 100%;
		max-width: 100%;
		font-size: 11px;
		line-height: 12px;

		.basicModal__button,
		.button_left {
			width: 80%;
			margin: 0 10%;
		}
	}

	.logs_diagnostics_view {
		padding: 10px 10px 0 0;
	}

	.clear_logs_update {
		padding: 10px 10px 0 10px;
		margin: 0;
	}
}
