.directLinks {
	input.text {
		width: calc(100% - 30px);
		color: white(0.6);
		padding: 2px;
	}

	.basicModal__button {
		display: inline-block;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		width: 25px;
		height: 25px;
		border-radius: 5px;
		border-bottom: 0;
		padding: 3px 0 0;
		margin-top: -5px;
		float: right;

		.iconic {
			fill: #2293ec;
			width: 16px;
			height: 16px;
		}
	}

	.imageLinks {
		margin-top: -30px;
		padding-bottom: 40px;

		p {
			padding: 10px 30px 0;
			font-size: 12px;
			line-height: 15px;
		}

		.basicModal__button {
			margin-top: -8px;
		}
	}
}

.downloads {
	padding: 30px;

	.basicModal__button {
		color: #2293ec;
		display: inline-block;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		border-bottom: 0;
		margin: 5px 0;

		.iconic {
			fill: #2293ec;
			margin: 0 10px 0 1px;
			width: 11px;
			height: 10px;
		}
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.directLinks .basicModal__button:hover,
	.downloads .basicModal__button:hover {
		background: #2293ec;
		cursor: pointer;

		.iconic {
			fill: #ffffff;
		}
	}
	.downloads .basicModal__button:hover {
		color: #ffffff;
	}
}
