.photo {
	// position: relative;
	// width: 202px;
	// height: 202px;
	// margin: 30px 0 0 30px;
	cursor: default;

	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: $timing;
	.thumbimg {
		width: 100%;
		height: 100%;
		background: #222;
		color: #222;
		box-shadow: 0 2px 5px black(0.5);
		// border: 1px solid white(0.5);
		transition: opacity 0.3s ease-out, transform 0.3s ease-out,
			border-color 0.3s ease-out;
	}
	.thumbimg > img {
		width: 100%;
		height: 100%;
	}
	&:focus .thumbimg,
	&.active .thumbimg {
		border-color: $colorBlue;
	}
	&:active .thumbimg {
		transition: none;
		border-color: darken($colorBlue, 15%);
	}
	&.selected img {
		outline: 1px solid $colorBlue;
	}
	.video {
		&::before {
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: url("../img/play-icon.png") no-repeat 46% 50%;
			transition: all 0.3s;
			will-change: opacity, height;
		}
		&:focus::before {
			opacity: 0.75;
		}
	}
	.livephoto {
		&::before {
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: url("../img/live-photo-icon.png") no-repeat 46% 50%;
			background-position: 2% 2%;
			transition: all 0.3s;
			will-change: opacity, height;
		}
		&:focus::before {
			opacity: 0.75;
		}
	}
	// Overlay -------------------------------------------------------------- //
	.overlay {
		position: absolute;
		margin: 0 0px;
		width: 100%;
		background: linear-gradient(to bottom, black(0), black(0.6));
		bottom: 0px;
		opacity: 0;
	}
	&:focus .overlay,
	&.active .overlay {
		opacity: 1;
	}
	.overlay {
		h1 {
			min-height: 19px;
			width: 180px;
			margin: 12px 0 5px 15px;
			color: #fff;
			text-shadow: 0 1px 3px black(0.4);
			font-size: 16px;
			font-weight: bold;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		a {
			display: block;
			margin: 0 0 12px 15px;
			font-size: 11px;
			color: #ccc;
			text-shadow: 0 1px 3px black(0.4);
			.iconic {
				fill: #ccc;
				margin: 0 5px 0 0;
				width: 8px;
				height: 8px;
			}
		}
	}

	// Badge -------------------------------------------------------------- //
	.badges {
		position: absolute;
		left: 0px;
		top: 0px;
		margin: -1px 0 0 6px;
	}
	.badge {
		display: none;
		margin: 0 0 0 6px;
		padding: 12px 8px 6px;
		width: 18px;
		background: $colorRed;
		box-shadow: 0 0 2px black(0.6);
		border-radius: 0 0 5px 5px;
		border: 1px solid #fff;
		border-top: none;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 0 black(0.4);
		opacity: 0.9;

		&--visible {
			display: inline-block;
		}
		&--not--hidden {
			background: $colorGreen;
		}
		&--hidden {
			background: $colorOrange;
		}
		&--cover {
			display: "inline-block";
			background: $colorOrange;
		}
		&--star {
			display: inline-block;
			background: $colorYellow;
		}
		&--nsfw {
			display: inline-block;
			background: $colorPink;
		}
		&--list {
			background: $colorBlue;
		}
		&--tag {
			display: inline-block;
			background: $colorGreen;
		}
		.iconic {
			fill: #fff;
			width: 16px;
			height: 16px;
		}
		&--folder {
			display: inline-block;
			box-shadow: none;
			background: none;
			border: none;
			.iconic {
				width: 12px;
				height: 12px;
			}
		}
	}
}

.flkr {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-content: flex-start;
	width: 100%;

	@media (min-width: 768px) {
		/* FLICKR like image display */
		margin: 30px 0 0 30px;

		& > div,
		&::after {
			--ratio: calc(var(--w) / var(--h));
			--row-height: 260px;
			flex-basis: calc(var(--ratio) * var(--row-height));
		}

		& > div {
			margin: 0.25rem;
			flex-grow: calc(var(--ratio) * 100);
		}

		&::after {
			--w: 2;
			--h: 1;
			content: "";
			flex-grow: 1000000;
		}

		& > div > span {
			display: block;
			height: 100%;
			width: 100%;
		}

		& > div > span > img {
			width: 100%;
		}
	}
}

.block {
	// responsive web design for smaller screens
	@media only screen and (min-width: 320px) and (max-width: 567px) {
		.content {
			padding: 50px 0 33px 0;
			width: 100%;
			max-width: 100%;

			.photo {
				// 3 thumbnails per row
				--size: calc((100vw - 3px) / 3);
				width: calc(var(--size) - 3px);
				height: calc(var(--size) - 3px);
				margin: 3px 0 0 3px;
				.thumbimg {
					width: calc(var(--size) - 5px);
					height: calc(var(--size) - 5px);
				}
				.overlay {
					width: calc(var(--size) - 5px);
					h1 {
						min-height: 14px;
						width: calc(var(--size) - 19px);
						margin: 8px 0 2px 6px;
						font-size: 12px;
					}
					a {
						// suppress subtitles on small screens
						display: none;
					}
				}
				.badge {
					padding: 4px 3px 3px;
					width: 12px;
					.iconic {
						width: 12px;
						height: 12px;
					}
					&--folder {
						.iconic {
							width: 8px;
							height: 8px;
						}
					}
				}
			}
			.divider {
				margin: 20px 0 0;
				&:first-child {
					margin-top: 0;
				}
				h1 {
					margin: 0 0 6px 8px;
					font-size: 12px;
				}
			}
		}
	}

	@media only screen and (min-width: 568px) and (max-width: 639px) {
		.content {
			padding: 50px 0 33px 0;
			width: 100%;
			max-width: 100%;

			.photo {
				// 4 thumbnails per row
				--size: calc((100vw - 3px) / 4);
				width: calc(var(--size) - 3px);
				height: calc(var(--size) - 3px);
				margin: 3px 0 0 3px;
				.thumbimg {
					width: calc(var(--size) - 5px);
					height: calc(var(--size) - 5px);
				}
				.overlay {
					width: calc(var(--size) - 5px);
					h1 {
						min-height: 14px;
						width: calc(var(--size) - 19px);
						margin: 8px 0 2px 6px;
						font-size: 12px;
					}
					a {
						// suppress subtitles on small screens
						display: none;
					}
				}
				.badge {
					padding: 4px 3px 3px;
					width: 14px;
					.iconic {
						width: 14px;
						height: 14px;
					}
					&--folder {
						.iconic {
							width: 9px;
							height: 9px;
						}
					}
				}
			}
			.divider {
				margin: 24px 0 0;
				&:first-child {
					margin-top: 0;
				}
				h1 {
					margin: 0 0 6px 10px;
				}
			}
		}
	}

	@media only screen and (min-width: 640px) and (max-width: 768px) {
		.content {
			padding: 50px 0 33px 0;
			width: 100%;
			max-width: 100%;

			.photo {
				// 5 thumbnails per row
				--size: calc((100vw - 5px) / 5);
				width: calc(var(--size) - 5px);
				height: calc(var(--size) - 5px);
				margin: 5px 0 0 5px;
				.thumbimg {
					width: calc(var(--size) - 7px);
					height: calc(var(--size) - 7px);
				}
				.overlay {
					width: calc(var(--size) - 7px);
					h1 {
						min-height: 14px;
						width: calc(var(--size) - 21px);
						margin: 10px 0 3px 8px;
						font-size: 12px;
					}
					a {
						// suppress subtitles on small screens
						display: none;
					}
				}
				.badge {
					padding: 6px 4px 4px;
					width: 16px;
					.iconic {
						width: 16px;
						height: 16px;
					}
					&--folder {
						.iconic {
							width: 10px;
							height: 10px;
						}
					}
				}
			}
			.divider {
				margin: 28px 0 0;
				&:first-child {
					margin-top: 0;
				}
				h1 {
					margin: 0 0 6px 10px;
				}
			}
		}
	}
}

.masonry {
	column-gap: 16px;
	@media (max-width: calc((240px + 16px)* 14)) {
		columns: 14;
	}
	@media (max-width: calc((240px + 16px)* 13)) {
		columns: 13;
	}
	@media (max-width: calc((240px + 16px)* 12)) {
		columns: 12;
	}
	@media (max-width: calc((240px + 16px)* 11)) {
		columns: 11;
	}
	@media (max-width: calc((240px + 16px)* 10)) {
		columns: 10;
	}
	@media (max-width: calc((240px + 16px)* 9)) {
		columns: 9;
	}
	@media (max-width: calc((240px + 16px)* 8)) {
		columns: 8;
	}
	@media (max-width: calc((240px + 16px)* 7)) {
		columns: 7;
	}
	@media (max-width: calc((240px + 16px)* 6)) {
		columns: 6;
	}
	@media (max-width: calc((240px + 16px)* 5)) {
		columns: 5;
	}
	@media (max-width: calc((240px + 16px)* 4)) {
		columns: 4;
	}
	@media (max-width: calc((240px + 16px)* 3)) {
		columns: 3;
	}
	@media (max-width: calc((240px + 16px)* 2)) {
		columns: 2;
	}

	.photo {
		display: inline-block;
		margin-bottom: 16px;
		position: relative;
		.thumbimg {
			width: 100%;
			height: 100%;
			display: grid;
		}
		img {
			width: 100%;
			border-radius: 5px;
		}
		.overlay {
			opacity: 1;
		}
	}
}
