.sidebar {
	position: fixed;
	top: 49px;
	right: -360px;
	width: 350px;
	height: calc(100% - 49px);
	background-color: rgba(25, 25, 25, 0.98);
	border-left: 1px solid black(0.2);
	transform: translateX(0);
	transition: transform 0.3s $timing;
	z-index: 4;

	&.active {
		transform: translateX(-360px);
	}

	//	Doesn't seem to be needed when user-select is globally disabled in main.scss.
	//	&.notSelectable {
	//		-webkit-user-select: none !important;
	//		-moz-user-select: none !important;
	//		-ms-user-select: none !important;
	//		user-select: none !important;
	//	}

	// Header -------------------------------------------------------------- //
	&__header {
		float: left;
		height: 49px;
		width: 100%;
		background: linear-gradient(to bottom, white(0.02), black(0));
		border-top: 1px solid $colorBlue;
	}

	&__header h1 {
		position: absolute;
		margin: 15px 0 15px 0;
		width: 100%;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	// Wrapper -------------------------------------------------------------- //
	&__wrapper {
		float: left;
		height: calc(100% - 49px);
		width: 350px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	// Divider -------------------------------------------------------------- //
	&__divider {
		float: left;
		padding: 12px 0 8px;
		width: 100%;
		border-top: 1px solid white(0.02);
		box-shadow: $shadow;

		&:first-child {
			border-top: 0;
			box-shadow: none;
		}

		h1 {
			margin: 0 0 0 20px;
			color: white(0.6);
			font-size: 14px;
			font-weight: bold;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	// Edit -------------------------------------------------------------- //
	.edit {
		display: inline-block;
		margin-left: 3px;
		width: 10px;

		.iconic {
			width: 10px;
			height: 10px;
			fill: white(0.5);
			transition: fill 0.2s ease-out;
		}

		&:active .iconic {
			transition: none;
			fill: white(0.8);
		}
	}

	// Table -------------------------------------------------------------- //
	table {
		float: left;
		margin: 10px 0 15px 20px;
		width: calc(100% - 20px);
	}

	table tr td {
		padding: 5px 0px;
		color: #fff;
		font-size: 14px;
		line-height: 19px;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;

		&:first-child {
			width: 110px;
		}

		&:last-child {
			padding-right: 10px;
		}

		span {
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	// Tags -------------------------------------------------------------- //
	#tags {
		width: calc(100% - 40px);
		margin: 16px 20px 12px 20px;
		color: #fff;
		display: inline-block;
	}

	#tags > div {
		display: inline-block;
	}

	#tags .empty {
		font-size: 14px;
		margin: 0 2px 8px 0;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	#tags .edit {
		margin-top: 6px;
	}

	#tags .empty .edit {
		margin-top: 0;
	}

	#tags .tag {
		cursor: default;
		display: inline-block;
		padding: 6px 10px;
		margin: 0 6px 8px 0;
		background-color: black(0.5);
		border-radius: 100px;
		font-size: 12px;
		transition: background-color 0.2s;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	#tags .tag span {
		float: right;
		padding: 0;
		margin: 0 0 -2px 0;
		width: 0;
		overflow: hidden;
		transform: scale(0);
		transition: width 0.2s, margin 0.2s, transform 0.2s, fill 0.2s ease-out;

		.iconic {
			fill: $colorRed;
			width: 8px;
			height: 8px;
		}

		&:active .iconic {
			transition: none;
			fill: darken($colorRed, 10%);
		}
	}

	#leaflet_map_single_photo {
		margin: 10px 0px 0px 20px;
		height: 180px;
		width: calc(100% - 40px);
		float: left;
	}

	.attr_location {
		&.search {
			cursor: pointer;
		}
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.sidebar {
		.edit:hover .iconic {
			fill: white(1);
		}

		#tags .tag {
			&:hover {
				background-color: black(0.3);

				&.search {
					cursor: pointer;
				}

				span {
					width: 9px;
					margin: 0 0 -2px 5px;
					transform: scale(1);
				}
			}

			span:hover .iconic {
				fill: lighten($colorRed, 10%);
			}
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	// sidebar as overlay, small size
	.sidebar {
		width: 240px;
		height: unset;
		background-color: rgba(0, 0, 0, 0.6);

		&__wrapper {
			padding-bottom: 10px;
		}

		&__header {
			height: 22px;

			h1 {
				margin: 6px 0;
				font-size: 13px;
			}
		}

		&__divider {
			padding: 6px 0 2px;

			h1 {
				margin: 0 0 0 10px;
				font-size: 12px;
			}
		}

		table {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			tr td {
				padding: 2px 0;
				font-size: 11px;
				line-height: 12px;

				&:first-child {
					width: 80px;
				}
			}
		}

		#tags {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			.empty {
				margin: 0;
				font-size: 11px;
			}
		}
	}
}

@media only screen and (min-width: 568px) and (max-width: 768px),
	only screen and (min-width: 568px) and (max-width: 640px) and (orientation: landscape) {
	// sidebar on side, medium size
	.sidebar {
		width: 280px;

		&__wrapper {
			padding-bottom: 10px;
		}

		&__header {
			height: 28px;

			h1 {
				margin: 8px 0;
				font-size: 15px;
			}
		}

		&__divider {
			padding: 8px 0 4px;

			h1 {
				margin: 0 0 0 10px;
				font-size: 13px;
			}
		}

		table {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			tr td {
				padding: 2px 0;
				font-size: 12px;
				line-height: 13px;

				&:first-child {
					width: 90px;
				}
			}
		}

		#tags {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			.empty {
				margin: 0;
				font-size: 12px;
			}
		}
	}
}
