.u2f_view {
	width: 90%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.u2f_view_line {
	font-size: 14px;
	width: 100%;
	&:last-child,
	&:first-child {
		padding-top: 50px;
	}
	p {
		width: 550px;
		margin: 0 0 5%;
		color: #ccc;
		display: inline-block;
		a {
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			border-bottom: 1px dashed #888;
		}
		&:last-of-type {
			margin: 0;
		}
	}
	p.line {
		margin: 0 0 0 0;
	}
	p.single {
		text-align: center;
	}
	span.text {
		display: inline-block;
		padding: 9px 4px;
		width: 80%;
		//margin: 0 2%;
		background-color: transparent;
		color: #fff;
		border: none;
		&_icon {
			width: 5%;
			.iconic {
				width: 15px;
				height: 14px;
				margin: 0 15px 0 1px;
				fill: #ffffff;
			}
		}
	}
	.choice label input:checked ~ .checkbox .iconic {
		opacity: 1;
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.choice {
		display: inline-block;
		width: 5%;
		color: #fff;
		input {
			position: absolute;
			margin: 0;
			opacity: 0;
		}
		.checkbox {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-top: 10px;
			margin-left: 2px;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 3px;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
			.iconic {
				box-sizing: border-box;
				fill: #2293ec;
				padding: 2px;
				opacity: 0;
				-ms-transform: scale(0);
				transform: scale(0);
				transition: opacity 0.2s cubic-bezier(0.51, 0.92, 0.24, 1), transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
			}
		}
	}
	.basicModal__button {
		display: inline-block;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		width: 20%;
		min-width: 50px;
		border-radius: 0 0 0 0;
	}
	.basicModal__button_OK {
		color: #2293ec;
		border-radius: 5px 0 0 5px;
	}
	.basicModal__button_DEL {
		color: #b22027;
		border-radius: 0 5px 5px 0;
	}
	.basicModal__button_CREATE {
		width: 100%;
		color: #009900;
		border-radius: 5px;
	}
	.select {
		position: relative;
		margin: 1px 5px;
		padding: 0;
		width: 110px;
		color: #fff;
		border-radius: 3px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.02);
		font-size: 11px;
		line-height: 16px;
		overflow: hidden;
		outline: 0;
		vertical-align: middle;
		background: rgba(0, 0, 0, 0.3);
		display: inline-block;
		select {
			margin: 0;
			padding: 4px 8px;
			width: 120%;
			color: #fff;
			font-size: 11px;
			line-height: 16px;
			border: 0;
			outline: 0;
			box-shadow: none;
			border-radius: 0;
			background: transparent none;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			option {
				margin: 0;
				padding: 0;
				background: #fff;
				color: #333;
				transition: none;
			}
		}
		&::after {
			position: absolute;
			content: "≡";
			right: 8px;
			top: 4px;
			color: #2293ec;
			font-size: 16px;
			line-height: 16px;
			font-weight: 700;
			pointer-events: none;
		}
	}
}

/* When you mouse over the navigation links, change their color */

.signInKeyLess {
	display: block;
	padding: 10px 10px;
	position: absolute;
	cursor: pointer;
	.iconic {
		display: inline-block;
		margin: 0 0px 0 0px;
		width: 20px;
		height: 20px;
		fill: #818181;
	}
	.iconic.ionicons {
		margin: 0 8px -2px 0;
		width: 18px;
		height: 18px;
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.u2f_view_line {
		.basicModal__button:hover {
			cursor: pointer;
		}

		.basicModal__button_OK:hover {
			background: #2293ec;
			color: #ffffff;
		}

		.basicModal__button_DEL:hover {
			background: #b22027;
			color: #ffffff;
		}

		.basicModal__button_CREATE:hover {
			background: #009900;
			color: #ffffff;
		}

		input:hover {
			border-bottom: #2293ec solid 1px;
		}
	}

	.signInKeyLess:hover .iconic {
		fill: #ffffff;
	}
}

// on touch devices draw buttons in color
@media (hover: none) {
	.u2f_view_line {
		.basicModal__button {
			color: #ffffff;

			&_OK {
				background: #2293ec;
			}

			&_DEL {
				background: #b22027;
			}

			&_CREATE {
				background: #009900;
			}
		}

		input {
			border-bottom: #2293ec solid 1px;
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	.u2f_view {
		width: 100%;
		max-width: 100%;
		padding: 20px;
	}

	.u2f_view_line {
		p {
			width: 100%;
		}

		.basicModal__button_CREATE {
			width: 80%;
			margin: 0 10%;
		}
	}
}
