#sensitive_warning {
	background: rgba(100, 0, 0, 0.95);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	h1 {
		font-size: 36px;
		font-weight: bold;
		border-bottom: 2px solid white;
		margin-bottom: 15px;
	}
	p {
		font-size: 20px;
		max-width: 40%;
		margin-top: 15px;
	}
}
