// Functions --------------------------------------------------------------- //
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// Properties -------------------------------------------------------------- //
$shadow: 0 -1px 0 black(0.2);
// Colors ------------------------------------------------------------------ //
$colorBlue: #2293ec;
$colorRed: #d92c34;
$colorPink: #ff82ee;
$colorGreen: #00aa00;
$colorYellow: #ffcc00;
$colorOrange: #ff9900;
// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(0.51, 0.92, 0.24, 1);
$timingBounce: cubic-bezier(0.51, 0.92, 0.24, 1.15);
// Rest -------------------------------------------------------------------- //
@import "_reset";
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out,
		box-shadow 0.3s;
}

html,
body {
	min-height: 100vh;
	position: relative;
}

body {
	background-color: #1d1d1d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.view {
		background-color: #0f0f0f;
	}
}

div#container {
	// If there is a footer, we will set padding-bottom to its height
	// using JavaScript since the height of the footer can vary.
	position: relative;
}

input {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import "basicModal/main";

@import "animations";
@import "content";
@import "photo-thumbs";
@import "leftMenu";
// @import "basicContext.custom";
// @import "basicContext.extended";
@import "basicModal.custom";
@import "header";
@import "imageview";
// @import "mapview";
@import "sidebar";
// @import "loading";
// @import "message";
@import "warning";
@import "settings";
@import "users";
@import "u2f";
@import "logs_diagnostics";
@import "sharing";
@import "multiselect";
@import "justified_layout";
// @import "../page/footer";
@import "footer";
@import "social-footer";
@import "photo-links";
