$basicModal__color     : #2875ed !default;
$basicModal__zIndex    : 1000 !default;
$basicModal__duration  : .3s !default;
$basicModal__sDuration : .2s !default;
$basicModal__timing    : cubic-bezier(.51, .92, .24, 1.15) !default;