/* #photoDescription h1 {
	font-size: large;
	margin-bottom: 1.25rem;
	font-weight: bold;
}

#photoDescription h2 {
	font-size: medium;
	margin-bottom: 1rem;
}

#photoDescription h3 {
	font-size: small;
	margin-bottom: 0.75rem;
}

#photoDescription p,
#photoDescription li,
#photoDescription a {
	font-size: smaller;
}

#photoDescription a {
	text-underline-offset: 0.2rem;
	text-decoration: underline dashed;
}

#photoDescription ul {
	list-style-type: circle;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#photoDescription li {
	margin-left: 1.5rem;
} */
