name: Check JS

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check_js:
    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20
          - 22
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci -D

      - name: Check Style
        run: npm run check-formatting

      - name: Check Lint
        run: npm run lint

      - name: Check TypeScript
        run: npm run check

      - name: Compile Front-end
        run: npm run build
