name: Check JS

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check_js:
    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: 
          - 20
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci -D

      - name: Check Style
        run: npm run check-formatting

      - name: Check TypeScript
        run: npm run check

      - name: Compile Front-end
        run: npm run build
