name: Check JS

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check_js:
    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: 
          - 20
          - 22
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci -D

      - name: Check Style
        run: npm run check-formatting

      - name: Check TypeScript
        run: npm run check

      - name: Compile Front-end
        run: npm run build
