name: Check JS

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check_js:
    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20
          - 22
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci -D

      - name: Check Style
        run: npm run check-formatting

      - name: Check Lint
        run: npm run lint

      - name: Check TypeScript
        run: npm run check

      - name: Compile Front-end
        run: npm run build
