name: php-cs-fixer
on:
  push:
    branches-ignore:
      - master
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.js'

env:
  PR_NUMBER: "${{ github.event.number }}"
  SOURCE_BRANCH: "$GITHUB_HEAD_REF"
  FIXER_BRANCH: "auto-fixed/$GITHUB_HEAD_REF"
  TITLE: "Apply fixes from PHP-CS-Fixer"
  DESCRIPTION: "This merge request applies PHP code style fixes from an analysis carried out through GitHub Actions."
jobs:
  php-cs-fixer:
    if: github.event_name == 'pull_request' && ! startsWith(github.ref, 'refs/heads/auto-fixed/')
    runs-on: ubuntu-20.04
    name: Run PHP CS Fixer
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 8.0
          extensions: json, dom, curl, libxml, mbstring
          coverage: none
      - name: Install PHP-CS-Fixer
        run: |
          curl -L https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/download/v3.13.0/php-cs-fixer.phar -o .github/build/php-cs-fixer
          chmod a+x .github/build/php-cs-fixer
      - name: Prepare Git User
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "action@github.com"
          git checkout -B "${{ env.FIXER_BRANCH }}"
      - name: Apply auto-fixers
        run: php .github/build/php-cs-fixer fix --config=.php-cs-fixer.php
      - name: Create Fixer PR
        run: |
          if [[ -z $(git status --porcelain) ]]; then
            echo "Nothing to fix.. Exiting."
            exit 0
          fi
          OPEN_PRS=`curl --silent -H "Accept: application/vnd.github.v3+json" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls?state=open"`
          OPEN_FIXER_PRS=`echo ${OPEN_PRS} | grep -o "\"ref\": \"${{ env.FIXER_BRANCH }}\"" | wc -l`
          git commit -am "${{ env.TITLE }}"
          git push origin "${{ env.FIXER_BRANCH }}" --force
          if [ ${OPEN_FIXER_PRS} -eq "0" ]; then
            curl -X POST \
              -H "Accept: application/vnd.github.v3+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls" \
              -d "{ \"head\":\"${{ env.FIXER_BRANCH }}\", \"base\":\"${{ env.SOURCE_BRANCH }}\", \"title\":\"${{ env.TITLE }}\", \"body\":\"${{ env.DESCRIPTION }}\n\nTriggered by #${{ env.PR_NUMBER }}\" }"
          fi
          exit 1