name: PHP Tests

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
        description: 'codecov token secret'

permissions:
  contents: read

jobs:
  tests:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read
    name: ${{ matrix.php-version }} - ${{ matrix.sql-versions }} -- ${{ matrix.test-suite }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - 8.4
          - 8.5
        sql-versions:
          - mariadb
          - postgresql
          - sqlite
        test-suite:
          - Unit
          - Feature_v2
          - Install
          - Webshop
          - ImageProcessing
          - Precomputing
        exclude:
        # Some skips to reduce the number of runs
          - php-version: 8.4
            test-suite: Unit
          - php-version: 8.4
            test-suite: Feature_v2
          - php-version: 8.4
            test-suite: Webshop
          - php-version: 8.4
            test-suite: ImageProcessing
          - php-version: 8.4
            test-suite: Precomputing
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      extensions: bcmath, curl, dom, gd, imagick, json, libxml, mbstring, pcntl, pdo, pdo_sqlite, pdo_mysql, pdo_pgsql, pgsql, sqlite3, zip

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set Up Imagick, FFmpeg & Exiftools
        run: |
          sudo apt-get update
          sudo apt-get --fix-broken install
          sudo apt-get -y install ffmpeg libimage-exiftool-perl

      - name: setup Databases
        run: |
          sudo service mysql start
          touch database/database.sqlite
          mysql -uroot -proot -e 'create database homestead_test;'

      - name: Setup PHP Action
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          coverage: xdebug
          tools: pecl, composer

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: copy Env
        run: |
          cp .github/workflows/.env.${{ matrix.sql-versions }} .env

      - name: Generate secure key & Optimize application & Migrate
        run: |
          php artisan key:generate
          php artisan optimize
          php artisan migrate

      - name: Apply tests ${{ matrix.test-suite }}
        run: XDEBUG_MODE=coverage vendor/bin/phpunit --configuration phpunit.ci.xml --testsuite ${{ matrix.test-suite }}

      - name: Make sure we can go backward
        run: php artisan migrate:rollback

      - name: Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
