name: PHP Dist

on:
  workflow_call:

permissions:
  contents: read

jobs:
  php_dist:
    name: ${{ matrix.php-version }} - ${{ matrix.sql-versions }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - 8.3
          - 8.4
        sql-versions:
          - mariadb
          - postgresql
          - sqlite
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      extensions: bcmath, curl, dom, gd, imagick, json, libxml, mbstring, pcntl, pdo, pdo_sqlite, pdo_mysql, pdo_pgsql, pgsql, sqlite3, zip

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set Up Imagick, FFmpeg & Exiftools
        run: |
          sudo apt-get update
          sudo apt-get --fix-broken install
          sudo apt-get -y install ffmpeg libimage-exiftool-perl

      - name: setup Databases
        run: |
          sudo service mysql start
          touch database/database.sqlite
          mysql -uroot -proot -e 'create database homestead_test;'

      - name: Setup PHP Action
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          tools: pecl, composer

      - name: Build Dist
        run: |
          make dist-clean

      - name: copy Env
        run: |
          cp .github/workflows/.env.${{ matrix.sql-versions }} Lychee/.env

      - name: setup MySQL Database with v3
        run: |
          mysql -uroot -proot homestead_test < .github/workflows/v3.sql

      - name: Generate secure key & Migrate & go backward
        run: |
          cd Lychee
          pwd
          php artisan key:generate
          php artisan migrate
          php artisan migrate:rollback
